.button {
  width: 180px;
  height: 40px;
}

.manage {
  display: flex;
  flex-wrap: wrap;
}

.drones {
  cursor: pointer;
  background-color: beige;

  &:hover {
    background-color: antiquewhite;
  }
}
