.button {
  width: 180px;
  height: 40px;
}

.button-wrapper {
  margin-right: 20px;
}

.buttons {
  display: flex;
  width: 100%;
}

.manage {
  display: flex;
  flex-wrap: wrap;
}

table {
  display: block;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
