body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

header {
  height: 60px;
}

tr {
  border: 1px solid black;
}

table {
  margin-top: 20px;
}

h1 {
  padding-bottom: 20px;
}

a {
  color: aliceblue;
  font-weight: bold;
}

.active {
  color: #6fffb0;
}
